[user]
	name = Josh McCarthy
	email = mccarthy.josh@gmail.com
[github]
	user = joshuam

[color]
	diff = auto
	status = auto
	branch = auto

[color "branch"]
	current = yellow reverse
	remote = green bold
	local = blue bold

[color "diff"]
	meta = blue bold
	frag = magenta bold
	old = red bold
	new = green bold
	plain = white
[alias]
    lg = log --pretty=format:"%h%x09%an%x09%ad%x09%s"
    ci = commit
    co = checkout
    p = push
    smupdate = submodule foreach git pull origin master --recurse-submodules
    sync = !git co master && git fetch upstream && git merge upstream/master

[core]
	editor = /usr/bin/vim
